<footer class="animate__animated animate__bounceInUp animate__slow">
    Copyright &copy; 2022 <%= siteName %> By <a href="http://sizeops.com/"><span class="signature">Or Moshe</span></a>
</footer>

</body>
</html>