<header>
    <nav class="navbar">
        <h1><a href="/" class="logo"><%= siteName %></a></h1>
        <input type="checkbox" id="toggler">
        <label for="toggler"><i class="fa-solid fa-bars"></i></label>
        <div class="menu">
            <div class="nav-links">
                <ul class="list">
                    <% if(!user) { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/leagues">Leagues</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <% } else { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/leagues">Leagues</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <% if(user) { %>
            <div class="user">
                <p>Welcome, <a class="user-name" href="/profile"><%= user.firstName %> <%= user.lastName %></a></p>
            </div>
        <% } %>
    </nav>
</header>