<header>
    <h1><%= siteName %></h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/leagues">leagues</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>
    <p>welcome, <%= user.email %></p>
</header>