<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="full-container animate__animated animate__bounceIn animate__slow">
    <h1>Page Not Found!</h1>
    <div class="container">
    <p>404: Page Not Found</p>
    </div>
</div>

<%- include('partials/footer') %>