<%- include('partials/header') %>

<nav class="navbar">
    <a href="/" class="logo"><%= siteName %></a>
    <input type="checkbox" id="toggler">
    <label for="toggler"><i class="fa-solid fa-bars"></i></label>
    <div class="menu">
        <div class="nav-links">
            <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="/register">register</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="full-container">
    <h2>Login</h2>
    <form class="container" action="/login?_method=POST" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
        <div class="all error"></div>
        <button class="light-btn">Login</button>
    </form>
</div>

<script>
    const form = document.querySelector('form');
    const allError = document.querySelector('.all.error')

        form.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        //reset errors
        allError.textContent = ''

        //get the values
        const email = form.email.value
        const password = form.password.value

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: {'Content-Type': 'application/json'}
            })
            const data = await res.json()
            if(data.errors) {
                allError.textContent = `Email or password incorrect`
            }
            if(data.user){
                window.location.replace("/");
            }
        }
        catch (err) {
            allError.textContent = `Email or password incorrect`
        }
    })
</script>

<%- include('partials/footer') %>