<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="full-container animate__animated animate__bounceIn animate__slow">
    <h1>Hi <%= user.firstName %>, </h1>
    <div class="container">
    <p>Your email is been verified!</p>
    </div>
</div>

<%- include('partials/footer') %>