@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
@import url('http://fonts.cdnfonts.com/css/scriptina');

* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono",monospace;
    font-family: 'Noto Sans', sans-serif;
}

footer{
    text-align: center;
    bottom:0;
}

.signature{
    font-family: 'Scriptina';
}

.light-btn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    /* font-family: "JetBrains Mono",monospace; */
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.delete {
    background-color: #e74c3c;
    color: whitesmoke;
}

.light-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.light-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.light-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.input-container{
	position:relative;
	margin-bottom:25px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:black;	
    pointer-events: none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
  }
  .input-container input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #3c94e7;	
  }

  .input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

.error {
    border-bottom:1px solid #e74c3c;	
    margin-bottom: 15px;
}

.title {
    border-bottom: none !important;	
}

.user-name {
    border-bottom:1px solid #3c94e7;	
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 15px;
}

a{
    text-decoration: none;
    color: initial;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #3c94e7;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.logo {
    margin-right: 50px;
}


.nav-links .list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler, .navbar label{
    display: none;
}

.full-container{
    margin-top: 10px;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.full-container-2{
    margin-top: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 30%;
    gap: 10px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 75%;
}

.card {
    margin: 30px 15px;
    position: relative;
    width: 250px;
    height: 200px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.5s;
  }

  .card-2 {
    position: relative;
    display: flex;
    width: 300px;
    height: 250px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: 0.5s;
    margin: 0px 10px;
  }

  .card .card-box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    color: #dfe6e9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  .card .card-box a{
    color: #dfe6e9;
  }

  .card .card-box:hover {
    transform: translateY(-50px);
  }
  
  .card .card-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }

.first-place {
    color: rgb(255, 208, 0);
}
.second-place {
    color: silver;
}

.KOG {
    color: rgb(255, 208, 0);
}

.KOA {
    color: silver;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
    border-radius: 5px;
}

table tr:nth-child(odd) td{
    background-color: #3c94e7;
}
table tr:nth-child(even) td{
    background-color: #dfe6e9;
}


.wpos{
	text-align: center;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #2a2b2f;
}

.wpos:hover td{
	color: #FFFFFF;
}

.pos:hover{
	background-color: #ff7b21;
}

.pos:hover td{
	color: #000000;
}
@media  screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        text-align: center;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }
    .navbar {
        border-radius: 0 0 10px 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
        0 2px 2px rgba(0,0,0,0.11), 
        0 4px 4px rgba(0,0,0,0.11), 
        0 6px 8px rgba(0,0,0,0.11),
        0 8px 16px rgba(0,0,0,0.11);
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
    }
    .container {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px 10%;
    }

    .container-2 {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px 10%;
    }

    .card-2{
        margin-bottom: 20px;
    }
    
}